@media (min-width: 1199.99px) {}

@media (max-width: 1199.98px) {
    .product_hero h2 {
        font-size: 70px;
    }

    .product_list .p_list .desc h2 {
        font-size: 60px;
    }

    .product_list .p_list .desc .desc_inner p {
        font-size: 16px;
    }

    .productdetails_hero .desc h2 {}

    .productdetails_hero .desc .desc_inner h3 {}

    .productdetails_hero {
        padding-top: 100px;
    }
}

@media (max-width: 991px) {
    .product_hero h2 {
        font-size: 70px;
    }

    .product_list .p_list .desc h2 {
        font-size: 60px;
    }

    .product_list .p_list .desc .desc_inner p {
        font-size: 16px;
        margin-bottom: 0;
    }

    .link {
        left: 0;
        margin-top: 12px;
        padding-left: 0;
    }

    .link__text {
        bottom: -16px;
    }

    .product_list .p_list .desc .desc_inner .icon img {
        width: 100px;
    }

    .product_list .p_list .product_image {
        margin: 1rem 0;
    }

    .product_list .p_list.m_reverse .row {
        flex-direction: column-reverse;
    }

    .productdetails_hero .desc h2 {
        font-size: 50px;
    }

    .productdetails_hero .desc .desc_inner h3 {
        font-size: 24px;
    }

    .product_highlights .left h2,
    .product_features .left h2 {
        font-size: 40px;
    }

    .product_features .list .right {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .product_list .p_list .desc .desc_inner .icon {
        display: none;
    }

    .product_hero h2 {
        font-size: 50px;
    }

    .product_hero h3 {
        font-size: 20px;
    }

    .product_list .p_list .desc h2 {
        font-size: 40px;
    }

    .product_list .p_list .desc .desc_inner p {
        font-size: 14px;
        margin-bottom: 0;
    }

    .product_list .p_list {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }

    .productdetails_hero .desc h2 {
        font-size: 50px;
    }

    .productdetails_hero .desc .desc_inner h3 {
        font-size: 20px;
    }

    .product_highlights .left h2,
    .product_features .left h2 {
        font-size: 30px;
    }

    .product_hero {
        min-height: auto;
    }

    .services_hero {
        min-height: auto;
    }

    .faq_accordian .card .card-header a.card-title {
        font-size: 20px;
        line-height: 1;
    }

    .faq_accordian .card .card-header a.card-title:after {
        font-size: 30px;
        top: 10px;
    }

    .faq_accordian .card .card-body .pl-5 {
        padding-left: 1rem !important;
    }
}

@media (max-width: 480px) {
    .product_hero h2 {
        font-size: 40px;
    }

    .product_hero h3 {
        font-size: 18px;
    }

    .product_hero p {
        font-size: 14px;
        line-height: 1;
    }

    .product_list .p_list .desc h2 {
        font-size: 30px;
    }

    .productdetails_hero .desc h2 {
        font-size: 40px;
    }

    .productdetails_hero .desc .desc_inner h3 {
        font-size: 18px;
    }



}