@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 0;
}

ul {
    list-style: none;
}

:hover {
    transition: 0.4s all ease;
    text-decoration: none !important;
}

.margin-top-30px {
    margin-top: 30px;
}

.margin-top-70px {
    margin-top: 70px;
}

/* start */
section {
    height: auto;
    overflow: hidden;
}

.home-clinical {
    background: url(../images/home-bg.png) no-repeat;
    min-height: 789px;
    position: relative;
    background-size: 95%;
    background-position: right -35px;
}

.home-clinical .logo {
    position: absolute;
    bottom: 0;
    right: 64px;
}

.home-clinical h1 {
    text-align: left;
    font: normal normal normal 140px/129px Merriweather;
    letter-spacing: 0px;
    color: #0F0F0F;
    text-transform: uppercase;
    opacity: 1;
    margin-top: 130px;
    position: relative;
}

.home-clinical h1 span {
    text-align: left;
    font: normal normal bold 28px/130px Merriweather;
    letter-spacing: 0px;
    color: #0F0F0F;
    text-shadow: 0px 0px 55px #00000029;
    text-transform: uppercase;
    opacity: 1;
    transform: translate(0px, 30px);
    position: absolute;
}

.home-clinical p {
    text-align: left;
    font-family: 'Montserrat',
        sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.7px;
    color: #484848;
    text-transform: uppercase;
    opacity: 1;
    margin: 20px 0 0 0;
}

.home-clinical .home-scroll {
    writing-mode: vertical-rl;
    position: absolute;
    right: -50px;
    bottom: -25%;
}

.home-clinical .home-scroll a {
    text-align: left;
    font: normal normal medium 14px/130px Lexend;
    letter-spacing: 0.7px;
    color: #0F0F0F;
    text-transform: uppercase;
    opacity: 1;
    position: relative;
    padding: 0 0 0 18px;
}

.home-clinical .home-scroll a:before {
    content: '';
    background: url(../images/scroll-icon.png) no-repeat;
    width: 15px;
    height: 66px;
    position: absolute;
    left: 0;
}

/* end */

/* start */
.home-radiant {
    background: #FAFAFA;
    padding: 193px 0 0 0;
    overflow: hidden;
    border-top: 13px solid #3873E2;
    min-height: 726px;
}

.home-radiant h2 {
    text-align: left;
    font: normal normal normal 68px/64px Merriweather;
    letter-spacing: 0px;
    color: #032427;
    opacity: 1;
}

.home-radiant p {
    text-align: left;
    font: normal normal normal 18px/24px Montserrat;
    letter-spacing: 0px;
    color: #505050;
    opacity: 1;
    margin: 20px 0;
}

.home-radiant .cube-shape {
    position: absolute;
    left: 0;
    transform: translate(-60%, -53%);
}

.home-radiant .play-movie {
    border: 2px solid #002F34;
    border-radius: 40px;
    width: 219px;
    text-align: left;
    font: normal normal normal 12px/40px Montserrat;
    letter-spacing: 1.2px;
    color: #002F34;
    text-transform: uppercase;
    opacity: 1;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    position: relative;
    z-index: 1;
}

.home-radiant .play-movie::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 17px;
    border-color: transparent transparent transparent #002F34;
    position: relative;
    top: 10px;
    left: 10px;
}

.home-radiant .big-cube {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(33%, -28%);
}

/* end */

/* start */
.home-connect {
    background: url('../images/bg-corevalues.png');
    padding: 193px 0 0 0;
    overflow: hidden;
    min-height: 737px;
}

.home-connect h3 {
    text-align: left;
    font: normal normal 300 60px/78px Merriweather;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 0.93;
}

.home-connect .home-numbers {
    margin: 50px 0 0 0;
    justify-content: space-between;
}

.home-connect .percentage {
    position: relative;
    padding: 0 60px 0 0;
}

.home-connect .percentage::after {
    content: '%';
    position: absolute;
    right: 0;
}

.counter {
    /* transition: 0.4s ease all; */
}

.home-connect .home-numbers li {
    width: calc(100% / 3);
    display: flex;

}

.home-connect .home-numbers li p {
    text-align: center;
    font-family: 'Montserrat',
        sans-serif;
    font-weight: 600;
    font-size: 60px;
    line-height: 50px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    width: 100%;
}

.home-connect .home-numbers li span {
    text-align: center;
    font: normal normal normal 14px/46px Libre Baskerville;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    width: 100%;
}

.home-connect .home-numsection {
    text-align: left;
    margin: 0 0 0 25px;
}

/* end */

/* start  */
.our-services {}

.our-services h4 {
    margin: 44px 0 70px 0;
    border-top: 7px solid #D76682;
    text-align: left;
    font-family: 'Montserrat',
        sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0px;
    color: #D76682;
    opacity: 1;
}

.our-services .services-list {
    margin: 0 0 70px 0;
}

.our-services .services-list li a {
    text-align: left;
    font: normal normal normal 90px/138px Merriweather;
    letter-spacing: -0.9px;
    color: #2F2F2F;
    opacity: 1;
    border-bottom: 2px solid #3873E2;
    display: flex;
    transition: 0.4s ease all;
}

.our-services .services-list li a:hover {
    color: #3873E2;
}

/* end  */

/* start */
.feedback {
    background: url('../images/testimonial_bg.png');
    padding: 193px 0;
    overflow: hidden;
}

.feedback .feedback-section {
    background: #3873E2 0% 0% no-repeat padding-box;
    box-shadow: inset 15px 15px 0px #00000014,
        10px 9px 0px #A1B5B784;
    opacity: 1;
    padding: 35px 35px 80px;
    border-radius: 20px;
    position: relative;
}

.feedback .feedback-section .feedback-skew {}

.feedback .feedback-section .feed-para {
    text-align: left;
    font-family: 'Montserrat',
        sans-serif;
    font-size: 18px;
    /* font-size: 22px; */
    line-height: 22px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin: 0 0 25px 0;
}

.feed-name-section {
    display: flex;
    position: absolute;
    bottom: 20px;
}

.feed-name-section .feed-cube {
    width: 45px;
    height: 45px;
    margin: 0 15px 0 0;
}

.feedback-section .feed-image {
    position: absolute;
    right: 25px;
    bottom: -40px;
    width: 111px;
    height: 111px;
}

.feed-name-section p {
    text-align: left;
    font: normal normal normal 25px/25px Tinos;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.feed-name-section span {
    text-align: left;
    font-family: 'Montserrat',
        sans-serif;
    font-size: 14px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.feed-clients {
    text-align: left;
    font: normal normal normal 28px/40px Tinos;
    letter-spacing: 0px;
    color: #2E5255;
    opacity: 1;
    margin: 15px 0 0 0;
}

.feed-height {
    min-height: 400px;
}

.feedback h5 {
    text-align: left;
    font: normal normal normal 130px/40px Merriweather;
    letter-spacing: -2.6px;
    color: #D55977;
    opacity: 1;
    transform: rotate(90deg) translate(-160%, -70px);
}


/* end */

/* start */
.home-responsibilty {
    margin: 75px 0;
    position: relative;
}

.respo-caption {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 90%;
    margin: 0 auto;
}

.respo-caption p {
    font: normal normal normal 64px/70px Merriweather;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.respo-caption a {
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 30px;
    display: inline-block;
    margin: 20px 0;
    font-size: 14px;
    text-transform: uppercase;
}

/* end */

/* start */
.review-latest {
    background: #EBEBEB;
    padding: 90px 0;
}

.review-latest h6 {
    text-align: left;
    font: normal normal normal 100px/125px Merriweather;
    letter-spacing: 0px;
    color: #C9516F;
    text-transform: uppercase;
    opacity: 1;
}

.review-latest h5 {
    text-align: left;
    font-family: 'Montserrat',
        sans-serif;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0px;
    color: #6A6A6A;
    opacity: 1;
    margin: 0 0 30px 0;
}

.review-latest ul li {
    width: 25%;
    position: relative;
    overflow: hidden;
}

.review-latest ul li .review-caption {
    padding: 25px;
    position: absolute;
    top: 0;
    left: -338px;
    height: 100%;
    background: #EBEBEB;
    width: 100%;
    transition: 0.4s ease all;
}

.review-latest ul li:hover .review-caption {
    left: 0;
}

.review-latest ul li .review-caption img {
    width: 23px;
    height: 23px;
    margin: 20px 0 15px 0;
}

.review-latest ul li .review-caption .review-title {
    text-align: left;
    font: normal normal normal 30px/30px Merriweather;
    letter-spacing: -1.5px;
    color: #2C79C3;
    opacity: 1;
}

.review-latest ul li .review-caption .review-para {
    text-align: left;
    font: normal normal normal 15px/20px Montserrat;
    letter-spacing: 0px;
    color: #2C79C3;
    opacity: 1;
}


/* end */

/* start */
.home-career {
    padding: 90px 0 0;
}

.home-career .career-section {
    position: relative;
}

.home-career .career-section {
    position: relative;
}

.home-career .career-caption {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    padding: 30px;
}

.home-career .career-caption .career-title {
    text-align: left;
    font: normal normal normal 50px/60px Merriweather;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}

.home-career .career-caption .career-para {
    text-align: left;
    font-family: 'Montserrat',
        sans-serif;
    font-size: 18px;
    list-style: 26px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.home-career .career-caption .career-join {
    background: #EBEEEF 0% 0% no-repeat padding-box;
    border-radius: 30px;
    opacity: 1;
    text-align: left;
    font: normal normal normal 12px/34px Montserrat;
    letter-spacing: 0px;
    color: #002F34;
    text-transform: uppercase;
    width: 170px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
}

/* end */

/* start */
.review-lproducts {
    padding: 90px 0;
}

.review-lproducts h6 {
    text-align: center;
    font: normal normal normal 46px/58px Merriweather;
    letter-spacing: -0.46px;
    color: #D76682;
    opacity: 1;
}

.lproducts-section {
    position: relative;
    margin: 30px 0 0 0;
    overflow: hidden;
}

.lproducts-section .lproducts-caption {
    background: rgba(56, 115, 226, 0.77) 0% 0% no-repeat padding-box;
    border-radius: 8px;
    padding: 30px;
    position: absolute;
    top: 0;
    left: -350px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    transition: 0.4s ease all;
}

.lproducts-section:hover .lproducts-caption {
    left: 0;
}

.lproducts-section .lproducts-caption .lproducts-title {
    text-align: left;
    font: normal normal normal 34px/38px Merriweather;
    letter-spacing: -0.34px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    margin: 0 0 20px 0;
}

.lproducts-section .lproducts-caption .lproducts-para {
    text-align: left;
    font: normal normal normal 14px/17px Lexend;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

/* end */

/* start */
.connect-withus {
    background: url(../images/connect_bg.png) repeat;
    min-height: 476px;
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.connect-withus h6 {
    text-align: left;
    font: normal normal normal 100px/138px Merriweather;
    letter-spacing: -2px;
    color: #FFFFFF;
    opacity: 1;
}

.connect-form .form-control {
    text-align: left;
    font-family: 'Montserrat',
        sans-serif;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    background: transparent;
    padding: 30px 20px;
}

.connect-form .form-control::-webkit-input-placeholder {
    /* Edge */
    color: #FFFFFF;
}

.connect-form .form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #FFFFFF;
}

.connect-form .form-control::placeholder {
    color: #FFFFFF;
}

.connect-form .input-group-append {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 10;
}

.connect-form .input-group-append button {
    text-align: left;
    font-family: 'Montserrat',
        sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    padding: 0 25px;
}

.connect-withus a {
    text-align: left;
    font-family: 'Montserrat',
        sans-serif;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
    color: #F5F5F5;
    text-transform: uppercase;
    opacity: 1;
    display: flex;
    justify-content: flex-end;
}

/* end */

/* start */
footer {
    padding-top: 60px;
}

footer address {
    text-align: left;
    font-family: 'Montserrat',
        sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    color: #484848;
    opacity: 1;
    margin: 0;
    position: relative;
}

footer address::before {
    content: '';
    background: url('../images/social-icons/icon_pin.svg') no-repeat;
    position: absolute;
    top: 0;
    left: -35px;
    width: 30px;
    height: 30px;
}

footer .address-contact li {
    margin: 0 0 20px 0;
}

footer .address-contact li,
footer .address-contact li a {
    text-align: left;
    font-family: 'Montserrat',
        sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    color: #484848;
    opacity: 1;
}

footer li.femail,
footer li.fphone {
    position: relative;
    padding: 0 0 0 45px;
}

footer li.femail::before,
footer li.fphone::before {
    content: 'Hi';
    position: absolute;
    left: 0;
    top: -3px;
    height: 30px;
    width: 30px;
}

footer li.femail::before {
    content: '';
    background: url('../images/social-icons/icon_email.svg') no-repeat;
}

footer li.fphone::before {
    content: '';
    background: url('../images/social-icons/icon_cell.svg') no-repeat;
}

.footer-social {
    border-top: 1px solid #DDDDDD;
    margin: 60px 0 0;
    padding: 20px 0 20px;
}

.footer-social ul {
    justify-content: center;
}

.footer-social ul li {
    margin: 0 15px 0 0;
}

/* end */

/* start about us */
.aboutus-home {
    background: url(../images/aboutus/bg-image.png) no-repeat;
    height: 100vh;
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
}

.aboutus-home h1 {
    text-align: left;
    font: normal normal normal 102px/64px Merriweather;
    letter-spacing: 0px;
    color: #032427;
    opacity: 1;
    margin: 0 0 50px 0;
}

.aboutus-home .about-para {
    text-align: left;
    font: normal normal normal 34px/42px Merriweather;
    letter-spacing: -0.34px;
    color: #3873E2;
    opacity: 1;
    margin: 0 0 30px 0;
}

.aboutus-home p {
    text-align: left;
    font-family: 'Montserrat',
        sans-serif;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0px;
    color: #505050;
    opacity: 1;
    margin: 15px 0;
}

/* start */
.aboutus-core {
    padding: 90px 0;
}

.aboutus-core h3 {
    text-align: left;
    font: normal normal normal 46px/78px Merriweather;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.93;
    text-align: center;
}

.aboutus-core .sub-para {
    text-align: center;
    font-family: 'Montserrat',
        sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #818181;
    opacity: 1;
}

.aboutus-core-section {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 25px #0000001C;
    border-radius: 10px;
    opacity: 1;
    text-align: center;
    padding-top: 68px;
    padding-bottom: 68px;
    margin: 30px 0 0 0;
    border: 1px solid transparent;
    /* #3873e2 */

}

.aboutus-core-section:hover {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 25px #0000001C;
    border: 1px solid #3873E2;
    border-radius: 10px;
    opacity: 1;
}

.aboutus-core-section:hover p {
    color: #3873E2;
}

.aboutus-core-section:hover svg {
    fill: #3873E2 !important;
}

.aboutus-core-section p {
    text-align: center;
    font: normal normal normal 25px/24px Merriweather;
    letter-spacing: 0px;
    color: #505050;
    opacity: 1;
}

.about-ourmission {}

.mission-caption {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 75%;
    margin: 0 auto;
}

.mission-caption span {
    text-align: left;
    font: normal normal normal 18px/25px Merriweather;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin: 0 0 15px 0;
    display: flex;

}

.mission-caption p {
    text-align: left;
    font: normal normal normal 48px/60px Merriweather;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.about-core {
    padding: 60px 0;
}

.about-core .our-list {
    border-top: 2px solid #3873E2;
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.about-core .our-list:last-child {
    border-bottom: 2px solid #3873E2;
}

.about-core .our-list-title {}

.about-core .our-list-title h3 {
    text-align: left;
    font: normal normal normal 46px/50px Merriweather;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.about-core .our-list-para {
    width: 60%;
}

.about-core .our-list-para p {
    text-align: left;
    font-family: 'Montserrat',
        sans-serif;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0px;
    color: #555555;
    opacity: 1;
    margin-bottom: 15px;
}

/* end */

/* start */
.radiant-sage {
    padding-bottom: 60px;
}

.radiant-sage .radiant-sage-section {
    display: flex;
}

.radiant-sage .radiant-sage-left {
    background: #3873E2 0% 0% no-repeat padding-box;
    border-radius: 14px;
    padding: 40px;
    width: 45%;
    position: relative;
}

.radiant-sage .radiant-sage-left h4 {
    text-align: left;
    font: normal normal bold 34px/40px Merriweather;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.radiant-sage .radiant-sage-left p {
    text-align: left;
    font-family: 'Montserrat',
        sans-serif;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin: 15px 0;
}

.radiant-sage .radiant-sage-right {
    display: flex;
    align-items: center;
}

.radiant-sage .radiant-sage-right img {
    position: absolute;
    right: 0;
    width: 65% !important;
    z-index: -1;
}

/* end */

/* start */
.our-history {
    background: url('../images/aboutus/our-story-bg.png') repeat;
    padding: 90px 0;
}

.our-history h3 {
    text-align: center;
    font: normal normal normal 46px/35px Merriweather;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0 0 40px 0;
}

.history-section {
    position: relative;
}

.history-section::before {
    content: '';
    background: #D76682;
    width: 3px;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.history-right,
.history-left {
    background: #3873E2 0% 0% no-repeat padding-box;
    box-shadow: inset 15px 15px 0px #00000014,
        10px 9px 0px #a1b5b784;
    opacity: 1;
    border-radius: 10px;
    width: 46%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    position: relative;
}

.history-right h6,
.history-left h6 {
    text-align: left;
    font: normal normal bold 28px/35px Merriweather;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin: 0 0 15px 0;
}

.history-right p,
.history-left p {
    text-align: left;
    font-family: 'Montserrat',
        sans-serif;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.history-left.left {
    left: 0;
}

.history-left.left h6,
.history-left.left p {
    text-align: right;
}

.history-right.right {
    left: 54%;
}

.history-right.right::before {
    content: '';
    background: #D76682;
    height: 3px;
    width: 16px;
    position: absolute;
    left: -43px;
    top: 50%;
    transform: translate(0%, 50%);
}

.history-left.left::before {
    content: '';
    background: #D76682;
    height: 3px;
    width: 16px;
    position: absolute;
    right: -43px;
    top: 50%;
    transform: translate(0%, 50%);
}

/* end */

/* start */
.management-team {
    padding: 90px 0;
}

.management-team h5 {
    text-align: center;
    font: normal normal normal 46px/25px Merriweather;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0 0 30px 0;
}

.team-section {
    display: flex;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 25px #00000014;
    border-radius: 10px;
    opacity: 1;
    justify-content: space-between;
    margin: 30px 0 0 0;
}

.team-section .team-details {
    border-right: 1px solid #DEDEDE;
    padding: 0 40px 0 0;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    justify-content: center;
    width: 60%;
}

.team-section .team-details .team-name {
    text-align: left;
    font: normal normal bold 30px/25px Merriweather;
    letter-spacing: 0px;
    color: #0D0C0C;
    text-transform: uppercase;
    opacity: 1;
    margin: 0 0 15px 0;
}

.team-section .team-details .team-desgn {
    text-align: left;
    font-family: 'Montserrat',
        sans-serif;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0px;
    opacity: 1;
}

.team-section .team-social {
    display: flex;
    vertical-align: middle;
    align-items: center;
    width: 100px;
}

/* end */


/* end about us */